/* --- RESET --- */
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}
/* ------------- */

header {
    height: 10vh;
}
main {
    height: 80vh;
    display: grid;
    place-items: center;
}
footer {
    height: 10vh;
} 

#gridBoard {
    border: 1px black solid;
}